/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #152945;
    color: white;
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    text-align: right;
}

.logo-container {
    width: 70%;
}

.logo {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #F2F2F2;
}

.lead {
    font-size: 1.4rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 1rem;
}

.description {
    font-size: 1.4rem;
    line-height: 1.6;
}

/* עיצוב מיוחד ליישור לימין של הלייבלים עם הכוכבית */
.form-group label {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    width: 100%;
    text-align: right;
    direction: rtl;
}

.form-group label .text-danger {
    margin-left: 5px;
}

.form-header {
    font-size: 1.3rem;
    font-weight: bold;
    color: #86D8F4;
    text-align: center;
}

form {
    background: rgba(242, 242, 242, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}

.footer {
    background-color: #152945;
    color: #F2F2F2;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.btn-primary {
    background-color: #86D8F4;
    border: none;
}

.btn-primary:hover {
    background-color: #EA35DB;
}

/* יישור ה-placeholder לשדות מימין */
input::placeholder,
textarea::placeholder {
    text-align: right;
    direction: rtl;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .lead, .description {
        font-size: 1.2rem;
    }
    form {
        width: 90%;
        padding: 1rem;
    }
}
